@mixin motionOK {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

.toggler {
  --ease-1: cubic-bezier(.25, 0, .5, 1);
  --ease-2: cubic-bezier(.25, 0, .4, 1);
  --ease-3: cubic-bezier(.25, 0, .3, 1);
  --ease-4: cubic-bezier(.25, 0, .2, 1);
  --ease-5: cubic-bezier(.25, 0, .1, 1);
  --ease-in-1: cubic-bezier(.25, 0, 1, 1);
  --ease-in-2: cubic-bezier(.50, 0, 1, 1);
  --ease-in-3: cubic-bezier(.70, 0, 1, 1);
  --ease-in-4: cubic-bezier(.90, 0, 1, 1);
  --ease-in-5: cubic-bezier(1, 0, 1, 1);
  --ease-out-1: cubic-bezier(0, 0, .75, 1);
  --ease-out-2: cubic-bezier(0, 0, .50, 1);
  --ease-out-3: cubic-bezier(0, 0, .3, 1);
  --ease-out-4: cubic-bezier(0, 0, .1, 1);
  --ease-out-5: cubic-bezier(0, 0, 0, 1);
  --ease-in-out-1: cubic-bezier(.1, 0, .9, 1);
  --ease-in-out-2: cubic-bezier(.3, 0, .7, 1);
  --ease-in-out-3: cubic-bezier(.5, 0, .5, 1);
  --ease-in-out-4: cubic-bezier(.7, 0, .3, 1);
  --ease-in-out-5: cubic-bezier(.9, 0, .1, 1);
  --ease-elastic-1: cubic-bezier(.5, .75, .75, 1.25);
  --ease-elastic-2: cubic-bezier(.5, 1, .75, 1.25);
  --ease-elastic-3: cubic-bezier(.5, 1.25, .75, 1.25);
  --ease-elastic-4: cubic-bezier(.5, 1.5, .75, 1.25);
  --ease-elastic-5: cubic-bezier(.5, 1.75, .75, 1.25);
  --ease-squish-1: cubic-bezier(.5, -.1, .1, 1.5);
  --ease-squish-2: cubic-bezier(.5, -.3, .1, 1.5);
  --ease-squish-3: cubic-bezier(.5, -.5, .1, 1.5);
  --ease-squish-4: cubic-bezier(.5, -.7, .1, 1.5);
  --ease-squish-5: cubic-bezier(.5, -.9, .1, 1.5);
  --ease-step-1: steps(2);
  --ease-step-2: steps(3);
  --ease-step-3: steps(4);
  --ease-step-4: steps(7);
  --ease-step-5: steps(10);

  --text: #3e3e42;
  --invert: #000;

  --icon-fill: #3e3e42;
  --icon-fill-hover: #6c6c73;
  --size: 1.6rem;
  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;

  &>svg {
    fill: var(--text);
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }

  @media (hover: none) {
    --size: 26px;
  }

  [class="dark"] & {
    --text: #fff;
    --invert: #000;

    --icon-fill: rgb(213, 213, 213);
    --icon-fill-hover: #fff;
  }
}

.sun {
  transition: transform 0.5s var(--ease-elastic-3);
}

.sunandmoon {
  &> :is(.moon, .sun, .sunbeams) {
    transform-origin: center center;
  }

  &> :is(.moon, .sun) {
    fill: var(--icon-fill);

    .toggler:is(:hover, :focus-visible)>& {
      fill: var(--icon-fill-hover);
    }
  }

  &>.sunbeams {
    stroke: var(--icon-fill);
    stroke-width: 2px;

    .toggler:is(:hover, :focus-visible) & {
      stroke: var(--icon-fill-hover);
    }
  }


  [class="dark"] & {
    &>.sun {
      transform: scale(1.5);
    }

    &>.sunbeams {
      opacity: 0;
    }

    &>.moon>circle {
      transform: translateX(-7px);
      transition: transform .25s var(--ease-out-5);

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 17;
        transition: cx .25s var(--ease-out-5);
      }
    }
  }

  @include motionOK {
    &>.sun {
      transition: transform 0.5s var(--ease-elastic-3);
    }

    &>.sunbeams {
      transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
    }

    & .moon>circle {
      transform: translateX(-7px);
      transition: transform .25s var(--ease-out-5);

      @supports (cx: 1) {
        transform: translateX(0);
        transition: cx .25s var(--ease-out-5);
      }
    }

    [class="dark"] & {
      &>.sun {
        transform: scale(1.5);
        transition-timing-function: var(--ease-3);
        transition-duration: 0.25s;
      }

      &>.sunbeams {
        transform: rotateZ(-25deg);
        transition-duration: 0.15s;
      }

      &>.moon>circle {
        transition-delay: .15s;
        transition-duration: .25s;
      }
    }
  }
}